In [1]:
import numpy as np
import pandas as pd
import datetime
import random
import missingno as msno
import statistics

In [2]:
production = pd.read_excel('new_well_logs.xlsx',header=[0],index_col=[0])
production

,Layer,"Thickness, m","Absolute depth, m","Absolute thickness, m",Litology,Oil pay,Saturation,"Porosity, %","Permeabillity, mD","Oil saturation, %"
Well,,,,,,,,,,
43P,БП11-1,4.1,2741.48,4.10,SAND,yes,WATER,0.0,0.0,0.0
43P,БП11-1,1.7,2739.78,1.70,ARGILLIT,no,NaN,0.0,0.0,0.0
43P,БП11-1,1.0,2738.78,1.00,SAND,yes,WATER,0.0,0.0,0.0
43P,БП11-1,5.2,2733.58,5.20,SAND,yes,WATER,0.0,0.0,0.0
44P,БП11-1,0.7,2518.87,0.70,ARGILLIT,no,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
9BЗ,ПК1,5.8,842.05,5.50,SAND,yes,WATER,25.6,13.8,0.0
9BЗ,ПК1,0.8,847.55,0.76,ARGILLIT,no,NaN,0.0,0.0,0.0
9BЗ,ПК1,0.8,848.31,0.75,SAND,yes,WATER,28.2,36.9,0.0
9BЗ,ПК1,16.4,849.06,15.55,ARGILLIT,no,NaN,0.0,0.0,0.0
9BЗ,ПК1,2.0,864.61,1.90,SAND,yes,WATER,29.5,61.0,0.0

In [3]:
production.reset_index(inplace=True)

production

,Well,Layer,"Thickness, m","Absolute depth, m","Absolute thickness, m",Litology,Oil pay,Saturation,"Porosity, %","Permeabillity, mD","Oil saturation, %"
0,43P,БП11-1,4.1,2741.48,4.10,SAND,yes,WATER,0.0,0.0,0.0
1,43P,БП11-1,1.7,2739.78,1.70,ARGILLIT,no,NaN,0.0,0.0,0.0
2,43P,БП11-1,1.0,2738.78,1.00,SAND,yes,WATER,0.0,0.0,0.0
3,43P,БП11-1,5.2,2733.58,5.20,SAND,yes,WATER,0.0,0.0,0.0
4,44P,БП11-1,0.7,2518.87,0.70,ARGILLIT,no,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
69117,9BЗ,ПК1,5.8,842.05,5.50,SAND,yes,WATER,25.6,13.8,0.0
69118,9BЗ,ПК1,0.8,847.55,0.76,ARGILLIT,no,NaN,0.0,0.0,0.0
69119,9BЗ,ПК1,0.8,848.31,0.75,SAND,yes,WATER,28.2,36.9,0.0
69120,9BЗ,ПК1,16.4,849.06,15.55,ARGILLIT,no,NaN,0.0,0.0,0.0
69121,9BЗ,ПК1,2.0,864.61,1.90,SAND,yes,WATER,29.5,61.0,0.0

In [4]:
a=['1074_1', '1105_1', '1106', '1921', '1976', '1978', '1982_1', '1983_1', '1984', '1990_1', '2005', '2008_1', '2023', '2030', '2032', '2033', '2037', '2085_1', '2099_1', '2109_1', '2114_1', '2125_1', '2129_1', '2146', '2147', '2196_1', '2198', '2201_1', '2203_1', '2210', '2212', '2218_1', '2221_1', '2223_1', '2234', '2240_1', '2242_1', '2246', '2261_1', '2341_1', '2347', '2363_1', '2396_1', '2397', '2398', '2399', '2402', '2403', '2406', '2411', '2412', '2416', '2424', '2430_1', '2432', '2437', '2438_1', '2441', '2442', '2458', '2460_1', '2464', '2465', '2466', '2490', '2491', '2493', '2500', '2502', '2503', '2504', '2506', '2508', '2510', '2512', '2514', '2525', '2551', '2600', '2601', '2602', '3004', '351P', '365P', '38P', '407_1', '4131_1', '4201_1', '4202_1', '4204_1', '4225_1', '4229_1', '4240', '4247_1', '4248_1', '4250_1', '4254_1', '4273_1', '4274_1', '4294', '4298', '4299_1', '4325', '434', '435', '437', '441_1', '448', '450', '460_1', '552_1', '615_1', '645_1', '668_1', '691_1', '695_1', '744_1', '769_1', '77', '78P_1', '819_1', '821_1', '847_1', '864', '966_1']
production=production[production.Well.isin(a)].reset_index(drop=True)
production = production.drop(production[production['Permeabillity, mD'] == 0].index).reset_index(drop=True)
production = production.groupby(by=['Well','Layer']).agg(
    {'Permeabillity, mD': lambda x: 
     statistics.mean(x)}
)
production

               Permeabillity, mD
Well   Layer
1105_1 БП11-0           4.200000
       БП11-1           3.222222
1106   БП11-0           0.500000
       БП11-1           4.912500
       БП12-1           0.911111
...                          ...
77     Ю0               0.100000
819_1  Ю1-1            18.200000
       Ю1-2            47.925000
821_1  БП17             2.446154
       Ю1-1             1.000000

[218 rows x 1 columns]

In [5]:
production.reset_index(inplace=True)
a=production['Well'].tolist()
b=len(a)
len(set(a))

63

In [6]:
production

       Well   Layer  Permeabillity, mD
0    1105_1  БП11-0           4.200000
1    1105_1  БП11-1           3.222222
2      1106  БП11-0           0.500000
3      1106  БП11-1           4.912500
4      1106  БП12-1           0.911111
..      ...     ...                ...
213      77      Ю0           0.100000
214   819_1    Ю1-1          18.200000
215   819_1    Ю1-2          47.925000
216   821_1    БП17           2.446154
217   821_1    Ю1-1           1.000000

[218 rows x 3 columns]

In [7]:
#production.reset_index(inplace=True)
production_perm=production.groupby(by=['Layer', 'Well']).sum()

In [8]:
cordinates = pd.read_excel('new_well_info.xlsx',header=[0],index_col=[0])
cordinates=cordinates.drop(['Thickness, meters','Effective thickness, meters','Depth, meters'],axis=1)
cordinates

       Coordinate X  Coordinate Y
Well
1000         592477       7064746
1001         592881       7064890
1002         593402       7064808
1003         593916       7064864
1004         594491       7064861
...             ...           ...
997          591004       7064752
998          591502       7064674
998_1        591292       7064791
999          592033       7064718
9BЗ          587821       7079781

[1608 rows x 2 columns]

In [9]:
final = production.merge(cordinates, on='Well')
final_perm=final.groupby(by=['Layer', 'Well','Coordinate X','Coordinate Y']).sum()
final_perm

                                         Permeabillity, mD
Layer  Well   Coordinate X Coordinate Y
БП11-0 1105_1 595443       7081802                4.200000
       1106   595854       7082798                0.500000
       1921   595591       7097808                3.700000
       1976   592992       7088599              131.950000
       1978   592965       7089375                5.500000
...                                                    ...
Ю1-2   645_1  590104       7071655              255.650000
       691_1  587712       7070435               33.183333
       695_1  589629       7070699               28.300000
       769_1  589028       7069111               23.200000
       819_1  588582       7068270               47.925000

[218 rows x 1 columns]

In [10]:
final_perm.to_excel('2_task_permeability.xlsx')

In [11]:
final_perm.reset_index(inplace=True)
final_perm

      Layer    Well  Coordinate X  Coordinate Y  Permeabillity, mD
0    БП11-0  1105_1        595443       7081802           4.200000
1    БП11-0    1106        595854       7082798           0.500000
2    БП11-0    1921        595591       7097808           3.700000
3    БП11-0    1976        592992       7088599         131.950000
4    БП11-0    1978        592965       7089375           5.500000
..      ...     ...           ...           ...                ...
213    Ю1-2   645_1        590104       7071655         255.650000
214    Ю1-2   691_1        587712       7070435          33.183333
215    Ю1-2   695_1        589629       7070699          28.300000
216    Ю1-2   769_1        589028       7069111          23.200000
217    Ю1-2   819_1        588582       7068270          47.925000

[218 rows x 5 columns]

In [25]:
BP_11_0 = final_perm.drop(final_perm[final_perm['Layer'] != 'БП11-0'].index)
BP_11_1 = final_perm.drop(final_perm[final_perm['Layer'] != 'БП11-1'].index)
BP_12_1 = final_perm.drop(final_perm[final_perm['Layer'] != 'БП12-1'].index)
BP_12_2 = final_perm.drop(final_perm[final_perm['Layer'] != 'БП12-2'].index)
BP_12_3 = final_perm.drop(final_perm[final_perm['Layer'] != 'БП12-3'].index)
BP_17 = final_perm.drop(final_perm[final_perm['Layer'] != 'БП17'].index)
U_1_1 = final_perm.drop(final_perm[final_perm['Layer'] != 'Ю1-1'].index)
U_1_2 = final_perm.drop(final_perm[final_perm['Layer'] != 'Ю1-2'].index)
U_1_2

    Layer    Well  Coordinate X  Coordinate Y  Permeabillity, mD
203  Ю1-2    1984        593401       7088516          28.300000
204  Ю1-2    3004        590433       7072400           9.200000
205  Ю1-2     38P        592663       7080306          15.433333
206  Ю1-2  4202_1        589072       7068324         152.480000
207  Ю1-2  4204_1        590064       7068441          64.440000
208  Ю1-2  4225_1        588649       7069110           5.316667
209  Ю1-2  4250_1        588571       7070350           5.620000
210  Ю1-2  4273_1        588010       7070911           5.983333
211  Ю1-2  4299_1        588897       7072440           0.933333
212  Ю1-2   615_1        587861       7071885          45.916667
213  Ю1-2   645_1        590104       7071655         255.650000
214  Ю1-2   691_1        587712       7070435          33.183333
215  Ю1-2   695_1        589629       7070699          28.300000
216  Ю1-2   769_1        589028       7069111          23.200000
217  Ю1-2   819_1        588582       7068270          47.925000

In [26]:
BP_11_0.to_excel('2_TASK_perm_BP_11_0.xlsx')
BP_11_1.to_excel('2_TASK_perm_BP_11_1.xlsx')

BP_17.to_excel('2_TASK_perm_BP_17.xlsx')

In [28]:
summ=pd.concat([BP_12_1,BP_12_2,BP_12_3])
summ1=pd.concat([U_1_1,U_1_2])
summ1

    Layer    Well  Coordinate X  Coordinate Y  Permeabillity, mD
188  Ю1-1    1984        593401       7088516          47.580000
189  Ю1-1    3004        590433       7072400           0.360000
190  Ю1-1     38P        592663       7080306           0.233333
191  Ю1-1  4202_1        589072       7068324           9.750000
192  Ю1-1  4204_1        590064       7068441          15.266667
193  Ю1-1  4225_1        588649       7069110           1.566667
194  Ю1-1  4250_1        588571       7070350           1.366667
195  Ю1-1  4273_1        588010       7070911           0.600000
196  Ю1-1  4299_1        588897       7072440           0.450000
197  Ю1-1   645_1        590104       7071655          15.533333
198  Ю1-1   691_1        587712       7070435           0.500000
199  Ю1-1   695_1        589629       7070699           4.133333
200  Ю1-1   769_1        589028       7069111           2.200000
201  Ю1-1   819_1        588582       7068270          18.200000
202  Ю1-1   821_1        589694       7068051           1.000000
203  Ю1-2    1984        593401       7088516          28.300000
204  Ю1-2    3004        590433       7072400           9.200000
205  Ю1-2     38P        592663       7080306          15.433333
206  Ю1-2  4202_1        589072       7068324         152.480000
207  Ю1-2  4204_1        590064       7068441          64.440000
208  Ю1-2  4225_1        588649       7069110           5.316667
209  Ю1-2  4250_1        588571       7070350           5.620000
210  Ю1-2  4273_1        588010       7070911           5.983333
211  Ю1-2  4299_1        588897       7072440           0.933333
212  Ю1-2   615_1        587861       7071885          45.916667
213  Ю1-2   645_1        590104       7071655         255.650000
214  Ю1-2   691_1        587712       7070435          33.183333
215  Ю1-2   695_1        589629       7070699          28.300000
216  Ю1-2   769_1        589028       7069111          23.200000
217  Ю1-2   819_1        588582       7068270          47.925000

In [29]:
summ = summ.groupby('Well').agg(
    {'Permeabillity, mD': lambda x: 
     statistics.mean(x)}
)
summ.reset_index(inplace=True)
final_perm = summ.merge(cordinates, on='Well')
final_perm

      Well  Permeabillity, mD  Coordinate X  Coordinate Y
0     1106           1.702222        595854       7082798
1     1921          15.842048        595591       7097808
2     1976          24.459091        592992       7088599
3     1978           1.565079        592965       7089375
4     1984           3.212500        593401       7088516
5   1990_1           5.712500        592861       7085886
6     2005          11.621429        592206       7087265
7   2099_1           3.555000        594638       7082767
8   2125_1          19.514899        592830       7081801
9   2129_1           1.574444        594633       7081920
10  2196_1           3.933333        591783       7079818
11    2198           1.300000        592769       7079819
12  2203_1           0.931197        595316       7079897
13  2223_1           1.875000        595003       7079401
14  2240_1           1.580851        592605       7078834
15  2261_1           5.440000        592628       7078334
16    2398           1.334722        596243       7079936
17    2399           1.850000        595962       7080327
18    2402           2.820000        596724       7078320
19    2403           5.285714        596832       7077875
20    2406           4.360000        597636       7078207
21    2411           3.842857        596565       7078846
22    2412           0.640000        597122       7079229
23    2416           7.600000        596685       7079710
24    2424           7.756250        590519       7082926
25    2432           3.515789        589860       7083269
26    2458           5.246154        595881       7085178
27    2464          11.614286        595091       7085072
28    2465           1.037500        595501       7085054
29    2466           3.700000        596040       7084354
30    2490           5.587500        596582       7081159
31    2491           3.525000        596559       7081941
32    2493           7.215000        596787       7081467
33    2500          19.006624        596528       7096966
34    2502           5.644236        594974       7097612
35    2504          11.439413        594446       7097474
36    3004           0.100000        590433       7072400
37    351P           0.100000        588147       7083830
38    365P           2.588333        597512       7083847
39     38P           0.276667        592663       7080306
40      77           1.080699        596361       7097317

In [30]:
final_perm.to_excel('2_TASK_perm_BP_12.xlsx')

In [31]:
summ1 = summ1.groupby('Well').agg(
    {'Permeabillity, mD': lambda x: 
     statistics.mean(x)}
)
summ1.reset_index(inplace=True)
final_poro1 = summ1.merge(cordinates, on='Well')
final_poro1

      Well  Permeabillity, mD  Coordinate X  Coordinate Y
0     1984          37.940000        593401       7088516
1     3004           4.780000        590433       7072400
2      38P           7.833333        592663       7080306
3   4202_1          81.115000        589072       7068324
4   4204_1          39.853333        590064       7068441
5   4225_1           3.441667        588649       7069110
6   4250_1           3.493333        588571       7070350
7   4273_1           3.291667        588010       7070911
8   4299_1           0.691667        588897       7072440
9    615_1          45.916667        587861       7071885
10   645_1         135.591667        590104       7071655
11   691_1          16.841667        587712       7070435
12   695_1          16.216667        589629       7070699
13   769_1          12.700000        589028       7069111
14   819_1          33.062500        588582       7068270
15   821_1           1.000000        589694       7068051

In [32]:
final_poro1.to_excel('2_TASK_perm_U_1.xlsx')

In [12]:
a=final_perm['Permeabillity, mD'].tolist()
a

[4.2,
 0.5,
 3.7,
 131.95,
 5.5,
 1.0,
 0.1,
 0.9,
 0.35000000000000003,
 21.85,
 146.63333333333333,
 5.1,
 3.2,
 5.550000000000001,
 2.033333333333333,
 7.8999999999999995,
 4.6,
 9.9,
 6.0,
 1.5,
 19.1,
 2.3333333333333335,
 7.475,
 3.7,
 5.3,
 1.9500000000000002,
 3.7,
 15.5,
 5.925,
 6.133333333333333,
 6.1,
 10.1,
 0.25,
 1.33,
 1.325,
 0.13333333333333333,
 0.4,
 0.55,
 1.0833333333333335,
 3.2222222222222223,
 4.9125,
 10.66,
 11.975,
 5.03,
 1.86,
 1.5,
 0.76,
 5.107142857142857,
 2.9833333333333334,
 6.285714285714286,
 0.9125,
 1.123076923076923,
 7.02,
 4.046153846153846,
 30.38,
 7.433333333333334,
 3.39,
 2.6374999999999997,
 6.1875,
 4.466666666666667,
 19.84285714285714,
 8.8,
 9.35,
 9.036363636363637,
 22.566666666666666,
 1.525,
 4.09,
 5.190909090909091,
 2.36,
 5.0875,
 2.8857142857142857,
 5.016666666666667,
 10.655555555555555,
 13.25,
 10.955555555555556,
 13.755555555555556,
 4.83,
 3.283333333333333,
 0.8777777777777778,
 4.76,
 1.0,
 8.083333333333334,
 3.3666666666666667,
 0.92,
 5.927272727272728,
 1.5999999999999999,
 2.7222222222222223,
 0.6666666666666666,
 0.9111111111111111,
 16.955555555555556,
 0.8181818181818181,
 0.5333333333333333,
 0.775,
 5.7125,
 0.9428571428571428,
 4.05,
 24.790909090909093,
 1.3933333333333333,
 0.1,
 0.1,
 25.407692307692308,
 4.364285714285715,
 2.652,
 0.1,
 0.1,
 0.11666666666666667,
 0.6870967741935484,
 2.493333333333333,
 29.870588235294118,
 48.1,
 3.528571428571429,
 5.65,
 22.3,
 3.06,
 14.238888888888889,
 1.7555555555555555,
 3.933333333333333,
 1.3,
 0.11666666666666667,
 3.0617021276595744,
 5.44,
 1.8444444444444443,
 2.25,
 7.75625,
 3.5157894736842104,
 5.246153846153846,
 11.614285714285714,
 1.0374999999999999,
 4.2,
 5.675,
 4.3,
 1.28,
 12.605555555555556,
 8.16842105263158,
 10.927777777777777,
 0.1,
 1.61,
 0.6133333333333333,
 2.455,
 0.7,
 0.6333333333333333,
 2.576923076923077,
 1.875,
 0.825,
 1.45,
 2.8200000000000003,
 5.285714285714286,
 4.359999999999999,
 3.842857142857143,
 0.64,
 7.6,
 3.2,
 5.5,
 2.75,
 13.15,
 4.4,
 20.73846153846154,
 0.1,
 3.566666666666667,
 0.1,
 0.1,
 1.1096774193548387,
 1.625,
 1.231578947368421,
 0.1,
 0.37222222222222223,
 0.1,
 3.65,
 0.1,
 0.6148648648648649,
 0.39148936170212767,
 0.2142857142857143,
 69.62666666666667,
 4.22,
 2.0,
 1.3466666666666667,
 1.29,
 1.675,
 2.1,
 1.9076923076923076,
 0.1368421052631579,
 2.4461538461538463,
 0.425,
 831.1575757575757,
 0.1,
 0.1,
 0.1,
 0.1,
 47.58,
 0.36,
 0.23333333333333334,
 9.75,
 15.266666666666666,
 1.5666666666666667,
 1.3666666666666667,
 0.6,
 0.45,
 15.533333333333333,
 0.5,
 4.133333333333334,
 2.1999999999999997,
 18.2,
 1.0,
 28.3,
 9.2,
 15.433333333333334,
 152.48000000000002,
 64.44,
 5.316666666666666,
 5.62,
 5.983333333333333,
 0.9333333333333333,
 45.91666666666667,
 255.65,
 33.18333333333334,
 28.3,
 23.2,
 47.925]

In [13]:
max(a)

831.1575757575757

In [14]:
a.sort(reverse=True)
max_perm=a[0:5]
max_perm
#сортировка списка по убыванию

[831.1575757575757, 255.65, 152.48000000000002, 146.63333333333333, 131.95]

In [15]:
final_perm1=final_perm[final_perm['Permeabillity, mD'].isin(max_perm)].reset_index(drop=True)
final_perm1

    Layer    Well  Coordinate X  Coordinate Y  Permeabillity, mD
0  БП11-0    1976        592992       7088599         131.950000
1  БП11-0  2261_1        592628       7078334         146.633333
2     ПК1      77        596361       7097317         831.157576
3    Ю1-2  4202_1        589072       7068324         152.480000
4    Ю1-2   645_1        590104       7071655         255.650000

In [22]:
well_list_perm=final_perm.sort_values(by="Permeabillity, mD", ascending=False).head(5)
well_list_perm
#первые 5 значений по убыванию проницаемости

      Layer    Well  Coordinate X  Coordinate Y  Permeabillity, mD
183     ПК1      77        596361       7097317         831.157576
213    Ю1-2   645_1        590104       7071655         255.650000
206    Ю1-2  4202_1        589072       7068324         152.480000
10   БП11-0  2261_1        592628       7078334         146.633333
3    БП11-0    1976        592992       7088599         131.950000

In [23]:
well_list_perm['Well'].tolist()

['77', '645_1', '4202_1', '2261_1', '1976']