In [1]:
import numpy as np
import pandas as pd
import datetime
import random
import missingno as msno
import statistics

In [2]:
data2 = pd.read_excel('new_production_td.xlsx',header=[0],index_col=[0])
data2

,Date,Reservoir,Completion,"Reservoir pressure, atm","Wellbore pressure, atm","Oil rate, t/day","Liquid rate, м3/сут","Watercut, %","Bubble point pressure, atm","Gas rate, m3/day","Reservoir temperature, °С",Skin,"Oil viscosity in reservoir conditions, cP","Water viscosity in reservoir conditions, cP","Liquid viscosity in reservoir conditions, cP","Fvf, m3/m3","Oil density, g/cm2","Water density, g/cm3"
Well,,,,,,,,,,,,,,,,,,
1001,9.2014,1БП11,NaN,222.0,55.200000,0.042228,51.0,99.9,125.0,87.7,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
1001,8.2014,1БП11,NaN,222.0,39.200000,0.038088,46.0,99.9,125.0,87.7,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
1001,7.2014,1БП11,NaN,222.0,52.230543,0.046368,56.0,99.9,125.0,87.7,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
1001,6.2014,1БП11,NaN,222.0,56.231155,0.059616,72.0,99.9,125.0,116.0,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
1001,5.2014,1БП11,NaN,222.0,63.232260,0.054648,66.0,99.9,125.0,116.0,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998_1,5.2015,1БП11,NaN,230.0,68.881487,2.156112,21.0,87.6,125.0,116.0,71.0,0.0,0.78,0.5,1.460762,1.301,0.828,1.012
998_1,4.2015,1БП11,NaN,230.0,70.689105,2.469096,21.0,85.8,125.0,87.7,71.0,0.0,0.78,0.5,1.435026,1.301,0.828,1.012
998_1,3.2015,1БП11,NaN,230.0,74.023966,3.394800,20.0,79.5,125.0,87.7,71.0,0.0,0.78,0.5,1.351679,1.301,0.828,1.012
998_1,2.2015,1БП11,NaN,230.0,75.813329,2.295216,22.0,87.4,125.0,87.7,71.0,0.0,0.78,0.5,1.457857,1.301,0.828,1.012
998_1,1.2015,1БП11,NaN,230.0,78.132044,1.867968,24.0,90.6,125.0,87.7,71.0,0.0,0.78,0.5,1.505768,1.301,0.828,1.012

In [3]:
data2.reset_index(inplace=True)

data2

,Well,Date,Reservoir,Completion,"Reservoir pressure, atm","Wellbore pressure, atm","Oil rate, t/day","Liquid rate, м3/сут","Watercut, %","Bubble point pressure, atm","Gas rate, m3/day","Reservoir temperature, °С",Skin,"Oil viscosity in reservoir conditions, cP","Water viscosity in reservoir conditions, cP","Liquid viscosity in reservoir conditions, cP","Fvf, m3/m3","Oil density, g/cm2","Water density, g/cm3"
0,1001,9.2014,1БП11,NaN,222.0,55.200000,0.042228,51.0,99.9,125.0,87.7,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
1,1001,8.2014,1БП11,NaN,222.0,39.200000,0.038088,46.0,99.9,125.0,87.7,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
2,1001,7.2014,1БП11,NaN,222.0,52.230543,0.046368,56.0,99.9,125.0,87.7,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
3,1001,6.2014,1БП11,NaN,222.0,56.231155,0.059616,72.0,99.9,125.0,116.0,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
4,1001,5.2014,1БП11,NaN,222.0,63.232260,0.054648,66.0,99.9,125.0,116.0,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32120,998_1,5.2015,1БП11,NaN,230.0,68.881487,2.156112,21.0,87.6,125.0,116.0,71.0,0.0,0.78,0.5,1.460762,1.301,0.828,1.012
32121,998_1,4.2015,1БП11,NaN,230.0,70.689105,2.469096,21.0,85.8,125.0,87.7,71.0,0.0,0.78,0.5,1.435026,1.301,0.828,1.012
32122,998_1,3.2015,1БП11,NaN,230.0,74.023966,3.394800,20.0,79.5,125.0,87.7,71.0,0.0,0.78,0.5,1.351679,1.301,0.828,1.012
32123,998_1,2.2015,1БП11,NaN,230.0,75.813329,2.295216,22.0,87.4,125.0,87.7,71.0,0.0,0.78,0.5,1.457857,1.301,0.828,1.012
32124,998_1,1.2015,1БП11,NaN,230.0,78.132044,1.867968,24.0,90.6,125.0,87.7,71.0,0.0,0.78,0.5,1.505768,1.301,0.828,1.012

In [4]:
data2 = data2.drop(data2[(data2.Date != 1.2015)&(data2.Date != 2.2015)&(data2.Date != 3.2015)&(data2.Date != 4.2015)&(data2.Date != 5.2015)&(data2.Date != 6.2015)&(data2.Date != 7.2015)&(data2.Date != 8.2015)&(data2.Date != 9.2015)&(data2.Date != 10.2015)&(data2.Date != 11.2015)&(data2.Date != 12.2015)&(data2.Date != 1.2016)&(data2.Date != 2.2016)&(data2.Date != 3.2016)&(data2.Date != 4.2016)&(data2.Date != 5.2016)&(data2.Date != 6.2016)&(data2.Date != 7.2016)&(data2.Date != 8.2016)&(data2.Date != 9.2016)&(data2.Date != 10.2016)&(data2.Date != 11.2016)&(data2.Date != 12.2016)&(data2.Date != 1.2017)&(data2.Date != 2.2017)&(data2.Date != 3.2017)&(data2.Date != 4.2017)&(data2.Date != 5.2017)&(data2.Date != 6.2017)&(data2.Date != 7.2017)&(data2.Date != 8.2017)&(data2.Date != 9.2017)&(data2.Date != 10.2017)&(data2.Date != 11.2017)&(data2.Date != 12.2017)].index)
a=['1074_1', '1105_1', '1106', '1921', '1976', '1978', '1982_1', '1983_1', '1984', '1990_1', '2005', '2008_1', '2023', '2030', '2032', '2033', '2037', '2085_1', '2099_1', '2109_1', '2114_1', '2125_1', '2129_1', '2146', '2147', '2196_1', '2198', '2201_1', '2203_1', '2210', '2212', '2218_1', '2221_1', '2223_1', '2234', '2240_1', '2242_1', '2246', '2261_1', '2341_1', '2347', '2363_1', '2396_1', '2397', '2398', '2399', '2402', '2403', '2406', '2411', '2412', '2416', '2424', '2430_1', '2432', '2437', '2438_1', '2441', '2442', '2458', '2460_1', '2464', '2465', '2466', '2490', '2491', '2493', '2500', '2502', '2503', '2504', '2506', '2508', '2510', '2512', '2514', '2525', '2551', '2600', '2601', '2602', '3004', '351P', '365P', '38P', '407_1', '4131_1', '4201_1', '4202_1', '4204_1', '4225_1', '4229_1', '4240', '4247_1', '4248_1', '4250_1', '4254_1', '4273_1', '4274_1', '4294', '4298', '4299_1', '4325', '434', '435', '437', '441_1', '448', '450', '460_1', '552_1', '615_1', '645_1', '668_1', '691_1', '695_1', '744_1', '769_1', '77', '78P_1', '819_1', '821_1', '847_1', '864', '966_1']
data2=data2[data2.Well.isin(a)].reset_index(drop=True)
data2 = data2.drop(data2[data2['Reservoir pressure, atm'] == 0].index).reset_index(drop=True)
data2 = data2.groupby(by=['Well','Reservoir']).agg(
    {'Reservoir pressure, atm': lambda x: 
     statistics.mean(x)}
)

data2

                  Reservoir pressure, atm
Well   Reservoir
1074_1 1БП11                   234.800000
1105_1 БП12                    257.305556
1106   БП12                    184.194444
1921   1БП11                   220.882353
       БП12                    207.027778
...                                   ...
821_1  Ю1                      160.197222
847_1  БП17                    292.000000
       Ю1                      170.972222
864    1БП11                   204.111111
966_1  1БП11                   206.805556

[136 rows x 1 columns]

In [5]:
cordinates = pd.read_excel('new_well_info.xlsx',header=[0],index_col=[0])
cordinates=cordinates.drop(['Thickness, meters','Effective thickness, meters','Depth, meters'],axis=1)
cordinates

       Coordinate X  Coordinate Y
Well
1000         592477       7064746
1001         592881       7064890
1002         593402       7064808
1003         593916       7064864
1004         594491       7064861
...             ...           ...
997          591004       7064752
998          591502       7064674
998_1        591292       7064791
999          592033       7064718
9BЗ          587821       7079781

[1608 rows x 2 columns]

In [6]:
data2.reset_index(inplace=True)
data2

       Well Reservoir  Reservoir pressure, atm
0    1074_1     1БП11               234.800000
1    1105_1      БП12               257.305556
2      1106      БП12               184.194444
3      1921     1БП11               220.882353
4      1921      БП12               207.027778
..      ...       ...                      ...
131   821_1        Ю1               160.197222
132   847_1      БП17               292.000000
133   847_1        Ю1               170.972222
134     864     1БП11               204.111111
135   966_1     1БП11               206.805556

[136 rows x 3 columns]

In [7]:
final = data2.merge(cordinates, on='Well')
final_reservoirpressure=final.groupby(by=['Reservoir', 'Well','Coordinate X','Coordinate Y']).sum()
final_reservoirpressure

                                            Reservoir pressure, atm
Reservoir Well   Coordinate X Coordinate Y
0БП11     2430_1 589735       7081729                    239.000000
          2432   589860       7083269                    233.090909
          351P   588147       7083830                    207.200000
1БП11     1074_1 593338       7062733                    234.800000
          1921   595591       7097808                    220.882353
...                                                             ...
Ю1        695_1  589629       7070699                    174.388889
          744_1  588774       7069537                    177.400000
          819_1  588582       7068270                    214.400000
          821_1  589694       7068051                    160.197222
          847_1  589344       7067826                    170.972222

[136 rows x 1 columns]

In [8]:
final_reservoirpressure.reset_index(inplace=True)
a=final_reservoirpressure['Reservoir'].tolist()
set(a)

{'0БП11', '1БП11', 'БП12', 'БП16', 'БП17', 'Ю1'}

In [9]:
final_reservoirpressure.reset_index(inplace=True)
BP_11_0 = final_reservoirpressure.drop(final_reservoirpressure[final_reservoirpressure['Reservoir'] != '0БП11'].index)
BP_11_1 = final_reservoirpressure.drop(final_reservoirpressure[final_reservoirpressure['Reservoir'] != '1БП11'].index)
BP_12 = final_reservoirpressure.drop(final_reservoirpressure[final_reservoirpressure['Reservoir'] != 'БП12'].index)
BP_17 = final_reservoirpressure.drop(final_reservoirpressure[final_reservoirpressure['Reservoir'] != 'БП17'].index)
U_1 = final_reservoirpressure.drop(final_reservoirpressure[final_reservoirpressure['Reservoir'] != 'Ю1'].index)
BP_11_0

,index,Reservoir,Well,Coordinate X,Coordinate Y,"Reservoir pressure, atm"
0,0,0БП11,2430_1,589735,7081729,239.000000
1,1,0БП11,2432,589860,7083269,233.090909
2,2,0БП11,351P,588147,7083830,207.200000

In [10]:
BP_11_0.to_excel('2_task_reservoirpressure_BP_11_0.xlsx')
BP_11_1.to_excel('2_task_reservoirpressure_BP_11_1.xlsx')
BP_12.to_excel('2_task_reservoirpressure_BP_12.xlsx')
BP_17.to_excel('2_task_reservoirpressure_BP_17.xlsx')
U_1.to_excel('2_task_reservoirpressure_U_1.xlsx')