In [1]:
import numpy as np
import pandas as pd
import datetime
import random
import missingno as msno
import statistics

In [4]:
data2 = pd.read_excel('new_production_td.xlsx',header=[0],index_col=[0])
data2

,Date,Reservoir,Completion,"Reservoir pressure, atm","Wellbore pressure, atm","Oil rate, t/day","Liquid rate, м3/сут","Watercut, %","Bubble point pressure, atm","Gas rate, m3/day","Reservoir temperature, °С",Skin,"Oil viscosity in reservoir conditions, cP","Water viscosity in reservoir conditions, cP","Liquid viscosity in reservoir conditions, cP","Fvf, m3/m3","Oil density, g/cm2","Water density, g/cm3"
Well,,,,,,,,,,,,,,,,,,
1001,9.2014,1БП11,NaN,222.0,55.200000,0.042228,51.0,99.9,125.0,87.7,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
1001,8.2014,1БП11,NaN,222.0,39.200000,0.038088,46.0,99.9,125.0,87.7,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
1001,7.2014,1БП11,NaN,222.0,52.230543,0.046368,56.0,99.9,125.0,87.7,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
1001,6.2014,1БП11,NaN,222.0,56.231155,0.059616,72.0,99.9,125.0,116.0,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
1001,5.2014,1БП11,NaN,222.0,63.232260,0.054648,66.0,99.9,125.0,116.0,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998_1,5.2015,1БП11,NaN,230.0,68.881487,2.156112,21.0,87.6,125.0,116.0,71.0,0.0,0.78,0.5,1.460762,1.301,0.828,1.012
998_1,4.2015,1БП11,NaN,230.0,70.689105,2.469096,21.0,85.8,125.0,87.7,71.0,0.0,0.78,0.5,1.435026,1.301,0.828,1.012
998_1,3.2015,1БП11,NaN,230.0,74.023966,3.394800,20.0,79.5,125.0,87.7,71.0,0.0,0.78,0.5,1.351679,1.301,0.828,1.012
998_1,2.2015,1БП11,NaN,230.0,75.813329,2.295216,22.0,87.4,125.0,87.7,71.0,0.0,0.78,0.5,1.457857,1.301,0.828,1.012
998_1,1.2015,1БП11,NaN,230.0,78.132044,1.867968,24.0,90.6,125.0,87.7,71.0,0.0,0.78,0.5,1.505768,1.301,0.828,1.012

In [5]:
data2.reset_index(inplace=True)

data2

,Well,Date,Reservoir,Completion,"Reservoir pressure, atm","Wellbore pressure, atm","Oil rate, t/day","Liquid rate, м3/сут","Watercut, %","Bubble point pressure, atm","Gas rate, m3/day","Reservoir temperature, °С",Skin,"Oil viscosity in reservoir conditions, cP","Water viscosity in reservoir conditions, cP","Liquid viscosity in reservoir conditions, cP","Fvf, m3/m3","Oil density, g/cm2","Water density, g/cm3"
0,1001,9.2014,1БП11,NaN,222.0,55.200000,0.042228,51.0,99.9,125.0,87.7,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
1,1001,8.2014,1БП11,NaN,222.0,39.200000,0.038088,46.0,99.9,125.0,87.7,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
2,1001,7.2014,1БП11,NaN,222.0,52.230543,0.046368,56.0,99.9,125.0,87.7,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
3,1001,6.2014,1БП11,NaN,222.0,56.231155,0.059616,72.0,99.9,125.0,116.0,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
4,1001,5.2014,1БП11,NaN,222.0,63.232260,0.054648,66.0,99.9,125.0,116.0,71.0,-4.7,0.78,0.5,1.664774,1.301,0.828,1.012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32120,998_1,5.2015,1БП11,NaN,230.0,68.881487,2.156112,21.0,87.6,125.0,116.0,71.0,0.0,0.78,0.5,1.460762,1.301,0.828,1.012
32121,998_1,4.2015,1БП11,NaN,230.0,70.689105,2.469096,21.0,85.8,125.0,87.7,71.0,0.0,0.78,0.5,1.435026,1.301,0.828,1.012
32122,998_1,3.2015,1БП11,NaN,230.0,74.023966,3.394800,20.0,79.5,125.0,87.7,71.0,0.0,0.78,0.5,1.351679,1.301,0.828,1.012
32123,998_1,2.2015,1БП11,NaN,230.0,75.813329,2.295216,22.0,87.4,125.0,87.7,71.0,0.0,0.78,0.5,1.457857,1.301,0.828,1.012
32124,998_1,1.2015,1БП11,NaN,230.0,78.132044,1.867968,24.0,90.6,125.0,87.7,71.0,0.0,0.78,0.5,1.505768,1.301,0.828,1.012

In [11]:
data2 = data2.drop(data2[(data2.Date != 1.2015)&(data2.Date != 2.2015)&(data2.Date != 3.2015)&(data2.Date != 4.2015)&(data2.Date != 5.2015)&(data2.Date != 6.2015)&(data2.Date != 7.2015)&(data2.Date != 8.2015)&(data2.Date != 9.2015)&(data2.Date != 10.2015)&(data2.Date != 11.2015)&(data2.Date != 12.2015)&(data2.Date != 1.2016)&(data2.Date != 2.2016)&(data2.Date != 3.2016)&(data2.Date != 4.2016)&(data2.Date != 5.2016)&(data2.Date != 6.2016)&(data2.Date != 7.2016)&(data2.Date != 8.2016)&(data2.Date != 9.2016)&(data2.Date != 10.2016)&(data2.Date != 11.2016)&(data2.Date != 12.2016)&(data2.Date != 1.2017)&(data2.Date != 2.2017)&(data2.Date != 3.2017)&(data2.Date != 4.2017)&(data2.Date != 5.2017)&(data2.Date != 6.2017)&(data2.Date != 7.2017)&(data2.Date != 8.2017)&(data2.Date != 9.2017)&(data2.Date != 10.2017)&(data2.Date != 11.2017)&(data2.Date != 12.2017)].index)
a=['1074_1', '1105_1', '1106', '1921', '1976', '1978', '1982_1', '1983_1', '1984', '1990_1', '2005', '2008_1', '2023', '2030', '2032', '2033', '2037', '2085_1', '2099_1', '2109_1', '2114_1', '2125_1', '2129_1', '2146', '2147', '2196_1', '2198', '2201_1', '2203_1', '2210', '2212', '2218_1', '2221_1', '2223_1', '2234', '2240_1', '2242_1', '2246', '2261_1', '2341_1', '2347', '2363_1', '2396_1', '2397', '2398', '2399', '2402', '2403', '2406', '2411', '2412', '2416', '2424', '2430_1', '2432', '2437', '2438_1', '2441', '2442', '2458', '2460_1', '2464', '2465', '2466', '2490', '2491', '2493', '2500', '2502', '2503', '2504', '2506', '2508', '2510', '2512', '2514', '2525', '2551', '2600', '2601', '2602', '3004', '351P', '365P', '38P', '407_1', '4131_1', '4201_1', '4202_1', '4204_1', '4225_1', '4229_1', '4240', '4247_1', '4248_1', '4250_1', '4254_1', '4273_1', '4274_1', '4294', '4298', '4299_1', '4325', '434', '435', '437', '441_1', '448', '450', '460_1', '552_1', '615_1', '645_1', '668_1', '691_1', '695_1', '744_1', '769_1', '77', '78P_1', '819_1', '821_1', '847_1', '864', '966_1']
data2=data2[data2.Well.isin(a)].reset_index(drop=True)
data2 = data2.drop(data2[data2['Wellbore pressure, atm'] == 0].index).reset_index(drop=True)
data2 = data2.groupby(by=['Well','Reservoir']).agg(
    {'Wellbore pressure, atm': lambda x: 
     statistics.mean(x)}
)

data2

                  Wellbore pressure, atm
Well   Reservoir
1074_1 1БП11                   86.366391
1105_1 БП12                    74.959823
1106   БП12                    49.660709
1921   1БП11                   53.385991
       БП12                    54.718084
...                                  ...
821_1  Ю1                      84.625341
847_1  БП17                   141.101151
       Ю1                      97.220366
864    1БП11                   44.606452
966_1  1БП11                   82.887887

[136 rows x 1 columns]

In [12]:
cordinates = pd.read_excel('new_well_info.xlsx',header=[0],index_col=[0])
cordinates=cordinates.drop(['Thickness, meters','Effective thickness, meters','Depth, meters'],axis=1)
cordinates

       Coordinate X  Coordinate Y
Well
1000         592477       7064746
1001         592881       7064890
1002         593402       7064808
1003         593916       7064864
1004         594491       7064861
...             ...           ...
997          591004       7064752
998          591502       7064674
998_1        591292       7064791
999          592033       7064718
9BЗ          587821       7079781

[1608 rows x 2 columns]

In [13]:
data2.reset_index(inplace=True)
data2

       Well Reservoir  Wellbore pressure, atm
0    1074_1     1БП11               86.366391
1    1105_1      БП12               74.959823
2      1106      БП12               49.660709
3      1921     1БП11               53.385991
4      1921      БП12               54.718084
..      ...       ...                     ...
131   821_1        Ю1               84.625341
132   847_1      БП17              141.101151
133   847_1        Ю1               97.220366
134     864     1БП11               44.606452
135   966_1     1БП11               82.887887

[136 rows x 3 columns]

In [16]:
final = data2.merge(cordinates, on='Well')
final_wellbore=final.groupby(by=['Reservoir', 'Well','Coordinate X','Coordinate Y']).sum()
final_wellbore

                                            Wellbore pressure, atm
Reservoir Well   Coordinate X Coordinate Y
0БП11     2430_1 589735       7081729                    77.244928
          2432   589860       7083269                    51.649545
          351P   588147       7083830                    34.334561
1БП11     1074_1 593338       7062733                    86.366391
          1921   595591       7097808                    53.385991
...                                                            ...
Ю1        695_1  589629       7070699                    86.778395
          744_1  588774       7069537                    76.287381
          819_1  588582       7068270                    90.162266
          821_1  589694       7068051                    84.625341
          847_1  589344       7067826                    97.220366

[136 rows x 1 columns]

In [17]:
final_wellbore.reset_index(inplace=True)
a=final_wellbore['Reservoir'].tolist()
set(a)

{'0БП11', '1БП11', 'БП12', 'БП16', 'БП17', 'Ю1'}

In [19]:
final_wellbore.reset_index(inplace=True)
BP_11_0 = final_wellbore.drop(final_wellbore[final_wellbore['Reservoir'] != '0БП11'].index)
BP_11_1 = final_wellbore.drop(final_wellbore[final_wellbore['Reservoir'] != '1БП11'].index)
BP_12 = final_wellbore.drop(final_wellbore[final_wellbore['Reservoir'] != 'БП12'].index)
BP_17 = final_wellbore.drop(final_wellbore[final_wellbore['Reservoir'] != 'БП17'].index)
U_1 = final_wellbore.drop(final_wellbore[final_wellbore['Reservoir'] != 'Ю1'].index)
U_1

,level_0,index,Reservoir,Well,Coordinate X,Coordinate Y,"Wellbore pressure, atm"
111,111,111,Ю1,1982_1,592194,7089639,133.493068
112,112,112,Ю1,2601,590982,7086389,84.352841
113,113,113,Ю1,3004,590433,7072400,71.700337
114,114,114,Ю1,4131_1,593661,7064922,106.331239
115,115,115,Ю1,4201_1,588568,7068411,86.132673
116,116,116,Ю1,4202_1,589072,7068324,107.353939
117,117,117,Ю1,4204_1,590064,7068441,69.672489
118,118,118,Ю1,4225_1,588649,7069110,81.745573
119,119,119,Ю1,4247_1,587110,7070141,79.276062
120,120,120,Ю1,4248_1,587707,7070117,92.825942
121,121,121,Ю1,4250_1,588571,7070350,119.387896
122,122,122,Ю1,4254_1,590373,7070209,95.354068
123,123,123,Ю1,4273_1,588010,7070911,84.081399
124,124,124,Ю1,4274_1,588228,7071050,86.363557
125,125,125,Ю1,4299_1,588897,7072440,92.075439
126,126,126,Ю1,441_1,588282,7073553,83.983594
127,127,127,Ю1,460_1,588073,7072835,95.288104
128,128,128,Ю1,615_1,587861,7071885,90.447824
129,129,129,Ю1,645_1,590104,7071655,82.324698
130,130,130,Ю1,691_1,587712,7070435,82.263381
131,131,131,Ю1,695_1,589629,7070699,86.778395
132,132,132,Ю1,744_1,588774,7069537,76.287381
133,133,133,Ю1,819_1,588582,7068270,90.162266
134,134,134,Ю1,821_1,589694,7068051,84.625341
135,135,135,Ю1,847_1,589344,7067826,97.220366

In [ ]:
BP_11_0.to_excel('2_task_sat_BP_11_0.xlsx')
BP_11_1.to_excel('2_task_sat_BP_11_1.xlsx')
BP_12_1.to_excel('2_task_sat_BP_12_1.xlsx')
BP_12_2.to_excel('2_task_sat_BP_12_2.xlsx')
BP_12_3.to_excel('2_task_sat_BP_12_3.xlsx')
BP_17.to_excel('2_task_sat_BP_17.xlsx')
U_1_1.to_excel('2_task_sat_U_1_1.xlsx')
U_1_2.to_excel('2_task_sat_U_1_2.xlsx')