In [1]:
import numpy as np
import pandas as pd
import datetime
import random
import missingno as msno
import statistics

In [2]:
production = pd.read_excel('new_well_logs.xlsx',header=[0],index_col=[0])
production

,Layer,"Thickness, m","Absolute depth, m","Absolute thickness, m",Litology,Oil pay,Saturation,"Porosity, %","Permeabillity, mD","Oil saturation, %"
Well,,,,,,,,,,
43P,БП11-1,4.1,2741.48,4.10,SAND,yes,WATER,0.0,0.0,0.0
43P,БП11-1,1.7,2739.78,1.70,ARGILLIT,no,NaN,0.0,0.0,0.0
43P,БП11-1,1.0,2738.78,1.00,SAND,yes,WATER,0.0,0.0,0.0
43P,БП11-1,5.2,2733.58,5.20,SAND,yes,WATER,0.0,0.0,0.0
44P,БП11-1,0.7,2518.87,0.70,ARGILLIT,no,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
9BЗ,ПК1,5.8,842.05,5.50,SAND,yes,WATER,25.6,13.8,0.0
9BЗ,ПК1,0.8,847.55,0.76,ARGILLIT,no,NaN,0.0,0.0,0.0
9BЗ,ПК1,0.8,848.31,0.75,SAND,yes,WATER,28.2,36.9,0.0
9BЗ,ПК1,16.4,849.06,15.55,ARGILLIT,no,NaN,0.0,0.0,0.0
9BЗ,ПК1,2.0,864.61,1.90,SAND,yes,WATER,29.5,61.0,0.0

In [3]:
production.reset_index(inplace=True)

production

,Well,Layer,"Thickness, m","Absolute depth, m","Absolute thickness, m",Litology,Oil pay,Saturation,"Porosity, %","Permeabillity, mD","Oil saturation, %"
0,43P,БП11-1,4.1,2741.48,4.10,SAND,yes,WATER,0.0,0.0,0.0
1,43P,БП11-1,1.7,2739.78,1.70,ARGILLIT,no,NaN,0.0,0.0,0.0
2,43P,БП11-1,1.0,2738.78,1.00,SAND,yes,WATER,0.0,0.0,0.0
3,43P,БП11-1,5.2,2733.58,5.20,SAND,yes,WATER,0.0,0.0,0.0
4,44P,БП11-1,0.7,2518.87,0.70,ARGILLIT,no,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
69117,9BЗ,ПК1,5.8,842.05,5.50,SAND,yes,WATER,25.6,13.8,0.0
69118,9BЗ,ПК1,0.8,847.55,0.76,ARGILLIT,no,NaN,0.0,0.0,0.0
69119,9BЗ,ПК1,0.8,848.31,0.75,SAND,yes,WATER,28.2,36.9,0.0
69120,9BЗ,ПК1,16.4,849.06,15.55,ARGILLIT,no,NaN,0.0,0.0,0.0
69121,9BЗ,ПК1,2.0,864.61,1.90,SAND,yes,WATER,29.5,61.0,0.0

In [4]:
a=['1074_1', '1105_1', '1106', '1921', '1976', '1978', '1982_1', '1983_1', '1984', '1990_1', '2005', '2008_1', '2023', '2030', '2032', '2033', '2037', '2085_1', '2099_1', '2109_1', '2114_1', '2125_1', '2129_1', '2146', '2147', '2196_1', '2198', '2201_1', '2203_1', '2210', '2212', '2218_1', '2221_1', '2223_1', '2234', '2240_1', '2242_1', '2246', '2261_1', '2341_1', '2347', '2363_1', '2396_1', '2397', '2398', '2399', '2402', '2403', '2406', '2411', '2412', '2416', '2424', '2430_1', '2432', '2437', '2438_1', '2441', '2442', '2458', '2460_1', '2464', '2465', '2466', '2490', '2491', '2493', '2500', '2502', '2503', '2504', '2506', '2508', '2510', '2512', '2514', '2525', '2551', '2600', '2601', '2602', '3004', '351P', '365P', '38P', '407_1', '4131_1', '4201_1', '4202_1', '4204_1', '4225_1', '4229_1', '4240', '4247_1', '4248_1', '4250_1', '4254_1', '4273_1', '4274_1', '4294', '4298', '4299_1', '4325', '434', '435', '437', '441_1', '448', '450', '460_1', '552_1', '615_1', '645_1', '668_1', '691_1', '695_1', '744_1', '769_1', '77', '78P_1', '819_1', '821_1', '847_1', '864', '966_1']
production=production[production.Well.isin(a)].reset_index(drop=True)
production = production.drop(production[production['Porosity, %'] == 0].index).reset_index(drop=True)
production = production.groupby(by=['Well','Layer']).agg(
    {'Porosity, %': lambda x: 
     statistics.mean(x)}
)
production

               Porosity, %
Well   Layer
1105_1 БП11-0    18.100000
       БП11-1    17.433333
1106   БП11-0    15.650000
       БП11-1    17.912500
       БП12-1    16.622222
...                    ...
77     Ю0         8.822222
819_1  Ю1-1      18.300000
       Ю1-2      18.775000
821_1  БП17      17.823077
       Ю1-1      15.150000

[218 rows x 1 columns]

In [5]:
production_por=production.groupby(by=['Layer', 'Well']).sum()

production_por

               Porosity, %
Layer  Well
БП11-0 1105_1    18.100000
       1106      15.650000
       1921      18.800000
       1976      20.850000
       1978      19.200000
...                    ...
Ю1-2   645_1     17.150000
       691_1     17.866667
       695_1     17.537500
       769_1     16.066667
       819_1     18.775000

[218 rows x 1 columns]

In [6]:

cordinates = pd.read_excel('new_well_info.xlsx',header=[0],index_col=[0])
cordinates=cordinates.drop(['Thickness, meters','Effective thickness, meters','Depth, meters'],axis=1)
cordinates

       Coordinate X  Coordinate Y
Well
1000         592477       7064746
1001         592881       7064890
1002         593402       7064808
1003         593916       7064864
1004         594491       7064861
...             ...           ...
997          591004       7064752
998          591502       7064674
998_1        591292       7064791
999          592033       7064718
9BЗ          587821       7079781

[1608 rows x 2 columns]

In [11]:
production.reset_index(inplace=True)
production

     index    Well   Layer  Porosity, %
0        0  1105_1  БП11-0    18.100000
1        1  1105_1  БП11-1    17.433333
2        2    1106  БП11-0    15.650000
3        3    1106  БП11-1    17.912500
4        4    1106  БП12-1    16.622222
..     ...     ...     ...          ...
213    213      77      Ю0     8.822222
214    214   819_1    Ю1-1    18.300000
215    215   819_1    Ю1-2    18.775000
216    216   821_1    БП17    17.823077
217    217   821_1    Ю1-1    15.150000

[218 rows x 4 columns]

In [12]:
final = production.merge(cordinates, on='Well')
final_por=final.groupby(by=['Layer', 'Well','Coordinate X','Coordinate Y']).sum()
final_por

                                         index  Porosity, %
Layer  Well   Coordinate X Coordinate Y
БП11-0 1105_1 595443       7081802           0    18.100000
       1106   595854       7082798           2    15.650000
       1921   595591       7097808           6    18.800000
       1976   592992       7088599          11    20.850000
       1978   592965       7089375          15    19.200000
...                                        ...          ...
Ю1-2   645_1  590104       7071655         193    17.150000
       691_1  587712       7070435         196    17.866667
       695_1  589629       7070699         200    17.537500
       769_1  589028       7069111         204    16.066667
       819_1  588582       7068270         215    18.775000

[218 rows x 2 columns]

In [15]:
final_por.reset_index(inplace=True)
a=final_por['Layer'].tolist()
set(a)

{'БП11-0',
 'БП11-1',
 'БП12-1',
 'БП12-2',
 'БП12-3',
 'БП16',
 'БП17',
 'БП17-0',
 'ПК1',
 'Ю0',
 'Ю1-1',
 'Ю1-2'}

In [17]:
BP_11_0 = final_por.drop(final_por[final_por['Layer'] != 'БП11-0'].index)
BP_11_1 = final_por.drop(final_por[final_por['Layer'] != 'БП11-1'].index)
BP_12_1 = final_por.drop(final_por[final_por['Layer'] != 'БП12-1'].index)
BP_12_2 = final_por.drop(final_por[final_por['Layer'] != 'БП12-2'].index)
BP_12_3 = final_por.drop(final_por[final_por['Layer'] != 'БП12-3'].index)
BP_17 = final_por.drop(final_por[final_por['Layer'] != 'БП17'].index)
U_1_1 = final_por.drop(final_por[final_por['Layer'] != 'Ю1-1'].index)
U_1_2 = final_por.drop(final_por[final_por['Layer'] != 'Ю1-2'].index)
U_1_2

     level_0 Layer    Well  Coordinate X  Coordinate Y  index  Porosity, %
203      203  Ю1-2    1984        593401       7088516     25    18.600000
204      204  Ю1-2    3004        590433       7072400    146    10.633333
205      205  Ю1-2     38P        592663       7080306    164    13.562500
206      206  Ю1-2  4202_1        589072       7068324    167    19.700000
207      207  Ю1-2  4204_1        590064       7068441    169    18.040000
208      208  Ю1-2  4225_1        588649       7069110    172    13.950000
209      209  Ю1-2  4250_1        588571       7070350    177    17.000000
210      210  Ю1-2  4273_1        588010       7070911    180    16.900000
211      211  Ю1-2  4299_1        588897       7072440    187    15.033333
212      212  Ю1-2   615_1        587861       7071885    191    18.383333
213      213  Ю1-2   645_1        590104       7071655    193    17.150000
214      214  Ю1-2   691_1        587712       7070435    196    17.866667
215      215  Ю1-2   695_1        589629       7070699    200    17.537500
216      216  Ю1-2   769_1        589028       7069111    204    16.066667
217      217  Ю1-2   819_1        588582       7068270    215    18.775000

In [18]:
BP_11_0.to_excel('2_task_por_BP_11_0.xlsx')
BP_11_1.to_excel('2_task_por_BP_11_1.xlsx')
BP_12_1.to_excel('2_task_por_BP_12_1.xlsx')
BP_12_2.to_excel('2_task_por_BP_12_2.xlsx')
BP_12_3.to_excel('2_task_por_BP_12_3.xlsx')
BP_17.to_excel('2_task_por_BP_17.xlsx')
U_1_1.to_excel('2_task_por_U_1_1.xlsx')
U_1_2.to_excel('2_task_por_U_1_2.xlsx')